<div>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="mat detalhe">
      <mat-panel-title class="mat__panel-title">
        <strong>Os mais vendidos</strong>
        <small>Os mais amados do nosso cardápio, prontos para surpreender você.</small>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat__panel-subtitle-prod">
      <div class="mat__panel-prod">
        <strong>Sushi Joe Salmão ( Experiência curta )</strong>
        <small>10 peças deliciosas de sushi Joe, ideal para 1 pessoa 😋</small>
        <b>R$ 40,00</b>
      </div>
      <div>
        <img class="img__prod" src="../../../../assets/prod-teste/1695297924443.jpg" alt="">
      </div>
    </div>
    <div class="mat__panel-subtitle-prod">
      <div class="mat__panel-prod">
        <strong>Sushi Joe Salmão ( Experiência curta )</strong>
        <small>10 peças deliciosas de sushi Joe, ideal para 1 pessoa 😋</small>
        <b>R$ 40,00</b>
      </div>
      <div>
        <img class="img__prod" src="../../../../assets/prod-teste/1695297924443.jpg" alt="">
      </div>
    </div>
  </mat-expansion-panel>

</div>
