.carrinho{
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    padding: 15px;
  }
}

.produto{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;

  &__foto{
    width: 100px;
    border-radius: 50%;
  }

  &__cart{
    display: flex;
  }

  &__cart h2, h3{
    margin: 0px 10px 0px 10px;
  }

}

.produto__subtitle{
  margin-top: 25px
}
.cart{
  &__prod-add{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  &__comprar-mais{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
  }
  &__comprar-mais-title{
    margin: 10px;
  }
}
.button{
  margin: 25px 0px 25px 0px;
  &__product{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
