.container__max{
  margin-top: 25px;
  margin-bottom: 25px;
}
.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 10px 0px 10px 0px;
}
