<div class="container cart__prod">
  <div class="carrinho__header">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="entrega">ENTREGA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="retirada">RETIRADA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="consumir-local">CONSUMIR NO LOCAL</a>
      </li>
    </ul>
  </div>
  <router-outlet>
  </router-outlet>
</div>
